<% if(val != null){%>
    <tr class="row">
        <th class="col-2">
            <!-- ページの先頭に表示させている-->
            <%= val.User.name%>
        </th>
        <td class="col-6">
            <%= val.message%>
        </td>
        <% 
        var d = new Date(val.createdAt);
        var m = d.getMonth() + 1;
        var dstr = d.getFullYear() + '年' + m + '月' + d.getDate() + '日' + d.getHours() + '時' + d.getMinutes() + '分';
        %>
            <td class="col-3">
                <%= dstr%>
            </td>
            <!-- ログインしたアカウントのみ消去可能-->
            <% if(val.User.id == login.id){%>
                <td class="col-1">
                    <form action="/boards/delete" method="post">
                        <input type="hidden" name="id" value="<%= val.id%>">
                        <input type="submit" value="削除" class="btn btn-primary">
                    </form>
                </td>
                <%}else{%>
                    <td class="col-1">
                    </td>
                    <%}%>
    </tr>
    <% }%>