<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <header>
        <h1 class="display-4">
            <%= title%>
        </h1>
    </header>
    <div role="main">
        <div role="main">
            <ul class="text-danger">
                <li>
                    <%= content%>
                </li>
            </ul>
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="name"> 名前</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pass"> パスワード
                    </label>
                    <input type="password" name="pass" id="pass" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="作成" class="btn btn-primary">
                </div>

            </form>
            <p class="mt-4"><a href="/boards">&lt;&lt; Top へ戻る</a>|<a href="/users/add">アカウトの作成&gt;&gt;</a></p>
        </div>
</body>

</html>